[submodule "themes/even"]
	path = themes/even
	url = https://github.com/olOwOlo/hugo-theme-even.git
[submodule "public"]
	path = public
	url = https://github.com/ralf0131/ralf0131.github.io.git
	branch = master
